/* styles.css */
html {
    height: 100%; /* Ensure html element covers the full height */
}

body {
    font-family: 'Lato', sans-serif;
    color: #3e3e3e;
    background-color: #B19470;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
min-height: 100%; /* Ensure body covers the full height of the viewport */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #a67c52; /* Coffee brown for header */
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-style: italic;
}

#welcome-section {
    text-align: center;
    padding: 50px;
}

#welcome-section button {
    background-color: #6b4e32; /* Dark brown */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#welcome-section button:hover {
    background-color: #8f6b4f; /* Lighter brown */
}

.info-section {
    padding: 20px;
    display: none; /* Hidden by default */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #8f6b4f; /* Lighter brown */
    color: white;
}
